{% load artifacts %}
<div id="artifact-sidebar" class="mt-2 list-group">
    <span class="list-group-item" title="{{ artifact.category }}">
        <span class="bi bi-postcard"></span>
        {{ artifact|artifact_category_label }}
    </span>
    <a class="list-group-item list-group-item-action"
       title="Workspace"
       href="{% url "workspaces:detail" wname=artifact.workspace.name %}">
        <span class="bi bi-box"></span>
        {{ artifact.workspace.name }}
    </a>
    {% if artifact.created_by_work_request %}
        <a class="list-group-item list-group-item-action"
           title="Work request"
           href="{% url "work_requests:detail" pk=artifact.created_by_work_request %}">
            <span class="bi bi-hammer"></span>
            {{ artifact.created_by_work_request }}
        </a>
    {% else %}
        <span class="list-group-item">
            <span class="bi bi-hammer" title="Work request"></span>
            none
        </span>
    {% endif %}
    <span class="list-group-item" title="User who created the artifact">
        <span class="bi bi-person-circle"></span>
        {{ artifact.created_by | default:"-" }}
    </span>
    <span class="list-group-item">
        <span title="Created" class="bi bi-clock"></span>
        <span title="{{ artifact.created_at }}">{{ artifact.created_at|timesince }} ago</span>
    </span>
    <span class="list-group-item">
        <span title="Expiration date" class="bi bi-hourglass-split"></span>
        {% if artifact.expire_at %}
            <span title="{{ artifact.expire_at }}">{{ artifact.expire_at|timesince }}</span>
        {% else %}
            never
        {% endif %}
    </span>
</div>
