{% extends "web/_base.html" %}
{% load ui_shortcuts %}
{% block main-layout %}
    <div class="row">
        <div class="col-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-4">
            <div class="btn-group"
                 role="toolbar"
                 aria-label="Shortcuts"
                 id="right-sidebar-shortcuts">
                {% block ui-shortcuts %}
                    {% for shortcut in main_ui_shortcuts %}
                        {% render_ui_shortcut shortcut %}
                    {% endfor %}
                {% endblock %}
            </div>
            {% block content-right %}{% endblock %}
        </div>
    </div>
{% endblock %}
