{# TODO: It might be worth having nicer rendering of multiple lookups here. #}
<li>
    {{ description }} ({{ artifacts.lookup }})
    <ul>
        {% for artifact in artifacts.artifacts %}
            <li>
                <a href="{% url 'artifacts:detail' artifact_id=artifact.id %}">#{{ artifact.id }}</a>
                <ul>
                    {% for file in artifact.files %}<li>{{ file }}</li>{% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</li>
