<li>
    {{ description }}
    {% if artifact.id is not None %}
        ({{ artifact.lookup }}: <a href="{% url 'artifacts:detail' artifact_id=artifact.id %}">#{{ artifact.id }}</a>)
    {% else %}
        ({{ artifact.lookup }})
    {% endif %}
    <ul>
        {% for file in artifact.files %}<li>{{ file }}</li>{% endfor %}
    </ul>
</li>
