<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">{{ workspace.name }}</a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item"
               href="{% url 'workspaces:detail' wname=workspace.name %}">View</a>
        </li>
        <li>
            <a class="dropdown-item"
               href="{% url 'workspaces:collections:list' wname=workspace.name %}">Collections</a>
        </li>
    </ul>
</li>
