{% extends "web/_base_rightbar.html" %}
{% load artifacts %}
{% load ui_shortcuts %}
{% block title %}Artifact {{ artifact_label }}{% endblock %}
{% block content-right %}
    {% include "web/_artifact-sidebar.html" with artifact=artifact only %}
{% endblock %}
{% block content %}
    <h1 class="mb-4" title="{{ artifact.category }}">
        <span class="bi bi-{{ artifact|artifact_icon_name }}"></span>
        Artifact {{ artifact_label }}
    </h1>
    <h2>Metadata</h2>
    <pre><code>{{ data_yaml }}</code></pre>
    <h2>Files</h2>
    {% if file_template %}
        {% include file_template %}
    {% elif file_list %}
        <table id="file-list" class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size (bytes)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for fileinartifact in file_list %}
                    <tr>
                        <td>
                            <a href="{% url "artifacts:detail-file" artifact_id=artifact.id file_in_artifact_id=fileinartifact.id path=fileinartifact.path %}">{{ fileinartifact.basename }}</a>
                        </td>
                        <td title="{{ fileinartifact.file.size }}">{{ fileinartifact.file.size|filesizeformat }}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="toolbar" aria-label="Shortcuts">
                                {% ui_shortcuts fileinartifact as shortcuts %}
                                {% for shortcut in shortcuts %}
                                    {% render_ui_shortcut shortcut %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p id="no-files">The artifact does not have any files.</p>
    {% endif %}
    <br>
{% endblock %}
